.header__top
        .container
            .row
                .header__top__menu
                    ul
                        +header_top_menu
                .header__top__search
                    input(type="text", placeholder="Tìm kiếm ở đây ...")
                    i.fa.fa-search