header
    block header_top
        .header__top
            .header__top--relative
                include ./header_top
    block header_slider
    block header_menu
        .header__menu.pt
            include ./header_menu