/*-------- SETTING -------*/
@font-face {
    font-family: Lobster;
    src: url(../font/UVF_Lobster12.ttf);
}
@font-face {
    font-family: Lubalin;
    src: url(../font/VNF-ITC_Lubalin_Graph_Regular.ttf);
}
@font-face {
    font-family: Aquarelle;
    src: url(../font/UTM_Aquarelle.ttf);
}
@font-face {
    font-family: Didot;
    src: url(../font/UVF_Didot.ttf);
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: $font-color;
    background: $bg-color;
}
body a {
    text-decoration: none;
    transition: all .3s;
}
body ul li{
    list-style: none;
}
img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}
.container {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
}
@include responsive("extra-large") {
    .container {
        max-width: 990px;
    }
}
@include responsive("large") {
    .container {
        max-width: 750px;
    }
}
@include responsive("medium") {
    .container {
        max-width: 570px;
    }
}