@mixin font-face($name, $url) {
    @font-face {
      font-family: $name;
      src: url('../font/#{$url}.ttf');
    }
  }
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
@mixin text($color, $font-size, $line-height: false, $font-weight: false) {
    color: $color;
    font-size: $font-size;
    @if $line-height {
        line-height: $line-height;
    }
    @if $font-weight {
        font-weight: $font-weight;
    }
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
      box-shadow:inset $top $left $blur $color;
    } @else {
      box-shadow: $top $left $blur $color;
    }
}
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
@mixin border-radius($all: null, $tl: $all, $tr: $all, $btl: $all, $btr: $all) {
    border-top-left-radius: $tl;
    border-top-right-radius: $tr ;
    border-bottom-right-radius: $btr;
    border-bottom-left-radius: $btl;
}
@mixin centerAbsolute($pos) {
    position: absolute;
    @if $pos == "both" {
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    } @else if $pos == "left" {
        left: 50%;
        @include transform(translateX(-50%));
    } @else if $pos == "top" {
        top: 50%;
        @include transform(translateY(-50%));
    }
}
@mixin flex($direction: row, $content: null , $items: null, $wrap: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: $wrap;
}
@mixin transition {
    transition: all .3s ease;
}
@mixin grid($col, $gap) {
    display: grid;
    grid-template-columns: repeat($col, 1fr);
    grid-gap: $gap;
}
  
@mixin pl-pr($pl, $pr) {
    padding-left: $pl;
    padding-right: $pr;
}
  
@mixin pt-pb($pt, $pb) {
    padding-top: $pt;
    padding-bottom: $pb;
}
  
@mixin ml-mr($ml, $mr) {
    margin-left: $ml;
    margin-right: $mr;
}
  
@mixin mt-mb($mt, $mb) {
    margin-top: $mt;
    margin-bottom: $mb;
}

@mixin xs {
    @media (min-width: 0px) {
        @content;
    }
}
  
@mixin sm {
    @media (min-width: $sm) { 
        @content;
    }
}
  
  @mixin md {
    @media (min-width: $md) {  
      @content;
    }
  }
  
  @mixin lg {
    @media (min-width: $lg) { 
      @content;
    }
  }
  
  @mixin lg-max {
    @media (max-width: $lg) {    
      @content;
    }
  }
  
  @mixin xl {
    @media (min-width: $xl) { 
      @content;
    }
  }
  
  @mixin xl-max {
    @media (max-width: $xl) {
      @content;
    }
  }