//- HEADER
-
    var header_top_menu = [
        {name: "Tài khoản của tôi", link: "#"},
        {name: "Trạng thái đơn hàng", link: "#"},
        {name: "Danh sách ưa thích", link: "#"},   
        {name: "Giỏ hàng", link: "#"},
        {name: "Đăng nhập", link: "#"},
        {name: "Đăng ký", link: "#"}
    ]