.link {
    @include mt-mb(30px, 0);

    .wrapper {
        ul {
            display: flex;

            li {
                float: none;

                &:not(:last-child) {
                &::after {
                    content: "/";
                    @include ml-mr(4px, 4px);
                }
                }
                a {
                color: $color-primary;
                font-size: $font-size-detail-link;
                }
            }
        }
    }
}
