.header {
    &__top {
        background-color: $bg-color;
        background: rgba(255, 255, 255, 0.1);
        font-size: 1.2rem;
        position: absolute;
        z-index: 100;
        width: 100%;
        padding: .8rem 0;
        .row {
            justify-content: space-between;
        }
        &__menu {
            ul {
                display: flex;
                justify-content: flex-start;
                li {
                    &:not(:last-child)::after {
                        content: '-';
                        padding: 0 1rem;
                        color: $text-white;
                    }
                }
                a {
                    color: $text-white;
                    transition: all .3s;
                    &:hover {
                        border-bottom: 1px solid $primary-color;
                        color: $primary-color;
                    }
                }
            }
        }
        &__search {
            input {
                color: $text-white;
                font-style: italic;
                background-color: transparent;
                border: none;
                border-left: 1px solid white;
                padding-left: 1rem;
                width: 22rem;
                &:focus {
                    outline: none;
                }
            }
            
        }
    }
}